# OS files
Thumbs.db
Desktop.ini

# Logs, DB, local settings
*.log
*.db
appsettings.Development.json
secrets.json

# Visual Studio Code
.vscode/

# Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Build folders
bin/
obj/