@page "/subir-archivo"
@page "/subir-archivo/{CategoriaId:guid}"

@using System.IO
@inject Front.Servicios.IArchivoService ArchivoService
@inject Front.Servicios.ICategoriaService CategoriaService
@inject NavigationManager Navigation

<PageTitle>Subir Archivo - NubeCasera</PageTitle>

<div class="container-fluid">
    <h1 class="text-center">Subir Archivo</h1>
</div> 
<div class="container">
    <div>Seleccionar Archivo: </div>
    <InputFile OnChange="SubirArchivoMetodo"/>
</div>
    


@code {
    [Parameter]
    public Guid? CategoriaId { get; set; }

    public async Task SubirArchivoMetodo(InputFileChangeEventArgs e)
    {
        var archivo = e.File;
        if (archivo != null)
        {
            using var stream = archivo.OpenReadStream(maxAllowedSize: 512000000); // 500mb
            using var memoryStream = new MemoryStream();
            await stream.CopyToAsync(memoryStream);
            var bytes = memoryStream.ToArray();

            // Usamos GetValueOrDefault() por si la ruta no traía el Guid, mandará Guid.Empty
            await ArchivoService.SubirArchivoAsync(bytes, archivo.Name, CategoriaId.GetValueOrDefault());
            Navigation.NavigateTo("/archivos");
        }
    }
}