@page "/subir-archivo"
@using System.IO
@inject Front.Servicios.IArchivoService ArchivoService
@inject Front.Servicios.ICategoriaService CategoriaService
@inject NavigationManager Navigation

<PageTitle>Subir Archivo - NubeCasera</PageTitle>

<div class="container-fluid">
    <h1 class="text-center">Subir Archivo</h1>
</div> 
<div class="container">
    <div>Seleccionar Archivo: </div>
    <InputFile OnChange="SubirArchivoMetodo"/>
</div>
    


@code {

    public async Task SubirArchivoMetodo(InputFileChangeEventArgs e)
    {
        var archivo = e.File;
        if(archivo != null)
        {
            using var stream = archivo.OpenReadStream(maxAllowedSize: 512000000); // 500mb
            using var memoryStream = new MemoryStream();
            await stream.CopyToAsync(memoryStream);
            var bytes = memoryStream.ToArray();

            await ArchivoService.SubirArchivoAsync(bytes, archivo.Name);
            Navigation.NavigateTo("/archivos");
        }
    }
}