/* CSS for SearchBarComponent component */
.search-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 15px;
}

.search-input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #d1d5db;
}

.search-button {
    background: #1b6ec2;
    color: #fff;
    padding: 0.45rem 0.75rem;
    border-radius: 6px;
    border: none;
}